.cartPage{
min-height:100vh;
padding:140px 8%;
background:#f8fafc;
}

.cartPage h1{
font-size:42px;
color:#003087;
margin-bottom:35px;
}

.emptyCart{

background:white;
padding:50px;
border-radius:25px;
text-align:center;
font-size:24px;

box-shadow:
0 20px 50px rgba(0,0,0,.08);
}

.cartItem{

display:flex;
align-items:center;
gap:25px;
background:white;
padding:20px;
border-radius:25px;
margin-bottom:25px;

box-shadow:
0 15px 35px rgba(0,0,0,.06);

transition:.3s;
}

.cartItem:hover{

transform:translateY(-5px);

}

.cartItem img{

width:150px;
height:130px;
object-fit:cover;
border-radius:20px;
}

.cartInfo{

flex:1;
}

.cartInfo h2{

font-size:24px;
margin-bottom:10px;
color:#003087;
}

.cartInfo h3{

color:#0070e0;
margin-bottom:10px;
}

.cartInfo h4{

color:#64748b;
}

.cartBottom{

margin-top:40px;
background:white;
padding:30px;
border-radius:25px;

display:flex;
justify-content:space-between;
align-items:center;

box-shadow:
0 15px 35px rgba(0,0,0,.06);
}

.checkoutBtn{

border:none;
padding:16px 35px;

border-radius:999px;

background:linear-gradient(
135deg,
#0070e0,
#003087
);

color:white;

font-weight:700;
cursor:pointer;
}

.checkoutBtn:hover{

opacity:.9;
}

@media(max-width:768px){

.cartItem{

flex-direction:column;
text-align:center;

}

.cartBottom{

flex-direction:column;
gap:20px;

}

}